html{
    scroll-behavior: smooth;
}

body{
    background-color: #303030;
}

#top-row{
    border-radius: 2%;
    background: linear-gradient(to bottom, rgba(187, 104, 183, 0.1), rgba(0,0,0,0));
}

#jumbotron{
    color: white;
    background: url(./images/cyberpunk.jpg), linear-gradient(to bottom, rgb(136, 62, 185), black);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    animation: fadeIn 3s;
}

#jumbotron > h1{
    text-shadow: 0px 0px 5px rgb(236, 109, 198);
}

.card{
    position: relative;
}

.card-badge{
    color: white;
    display: flex;
    position: absolute;
    top: -14px;
    left: -5px;
    background: linear-gradient(to right, hotpink, purple);
    box-shadow:0px 0px 5px rgb(255, 0, 234);
    background-size: 220%;
    border-radius: 10px;
    height: fit-content;
    animation: getBigger 1s;
    z-index:1;
}

.card-img-top{
    animation: scaleDown 1s;
}

.card-img-top:hover{
    animation: scaleUp 1s;
    cursor: pointer;

}

#addTrack{
    font-size: 1.5em;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

#addTrack:hover{
    animation: scaleUp 0.5s;
    animation-fill-mode: forwards;
    box-shadow:0px 0px 5px rgb(255, 0, 234);
}

td:nth-child(5){
    visibility: collapse;
}

tr:hover td:nth-child(5){
    visibility: visible;
    animation: fadeIn 0.5s;
}


@keyframes fadeIn {
    from{
        opacity: 0
    }

    to{
        opacity: 1;
    }
}

@keyframes getBigger {
    from{
        transform: scale(0.1);
        opacity: 0;
    }
    to{
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes scaleUp {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}


@keyframes scaleDown {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1.0);
    }
}

.bold {
    font-weight: bold;
}